[Unit]
Description=Flask Application for Server Status Dashboard
After=network.target

[Service]
User=www-data 
Group=www-data
WorkingDirectory=/home/ubuntu/ansible-project/roles/app_deployment/files/app/server/app.py
ExecStart=/usr/bin/python3 app.py  

[Install]
WantedBy=multi-user.target

